.home {
  width: 100%;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.block{
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}

